body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    width: 100vw;
    background: rgb(0,195,223);
background: linear-gradient(270deg, rgba(0,195,223,1) 0%, rgba(191,198,255,1) 100%);
}

.convertSection{
    width: 60vw;
    height: 40vh;
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 20px;
    box-shadow: 0 0 15px gray;
    text-align: center;
}
input{
    width: 50%;
    height: 30px;
    border: 1px solid gray;
    outline: none;
    border-radius: 12px;
    margin-bottom: 10px;
}
p{
    font-size: 24px ;
    color: orange;
    font-weight: bolder;
    text-shadow: 0 0 10px black;
}
button{
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(122, 122, 255);
    border: none;
    outline: none;
    border-radius: 5px;
}
button:hover{
    box-shadow: 0 0 15px black;   
}
